<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>时光荏苒-晓东博客</title>
<meta name="keywords" content="个人博客" />
<meta name="description" content="" />
<link href="/static/css/base.css" rel="stylesheet">
<link href="/static/css/index.css" rel="stylesheet">
<link href="/static/css/style.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
  <div id="logo"><a href="/"></a></div>
   <nav class="topnav" id="topnav">
  <a href="/"><span>首页</span><span class="en">Home</span></a>
  <a href="/about.html"><span>关于我</span><span class="en">About</span></a></a>
  <a href="/essay?page=1"><span>心情随笔</span><span class="en">Essay</span></a>
  <a href="/time?type=All&page=1"><span>时光荏苒</span><span class="en">Time</span></a>
  <!--<a href="/share"><span>技术分享</span><span class="en">Share</span></a>-->
  <a href="#"><span>待定</span><span class="en">other</span></a>
  <a href="/gustbook"><span>留言板</span><span class="en">Gustbook</span></a>
  </nav>
</header>
<article class="blogs">
   <h1 class="t_nav">
      <span>记录每次的心路历程！</span>
      <a href="/" class="n1">网站首页</a>
      <a href="/time?type=All&page=1" class="n2">时光荏苒</a>
   </h1>
<div class="bloglist left">

   {% for data in datas %}
    <!--article-->
    <div class="wz">
    <h3>{{data.title}}</h3>
    <p class="dateview"><span>{{data.pub_time|date:"Y-m-d"}}</span><span>作者：{{data.writer}}</span><span>分类：[<a href="#">{{data.doc_type}}</a>]</span></p>
    <figure><img src="{{data.img}}"></figure>
    <ul>
      <p>{{data.content}}</p>
      <a title="阅读全文" href="/article?id={{data.Num}}" target="_blank" class="readmore">阅读全文>></a>
    </ul>
    <div class="clear"></div>
    </div>
    <!--end-->
   {% endfor %}
    
   <!--页码-->
    <div class="page">
      {% autoescape off %}
          {% for data in page_data %}
                  {{data}}
                {% endfor %}
      {% endautoescape %}
  </div>
   <!--end-->
</div>
  
<!--right-->
<aside class="right">
 <div class="rnav">
     <h2>导航</h2>
      <ul>
       <li class="rnav1"><a href="/time?type=日记&page=1">日记</a></li>
       <li class="rnav2"><a href="/time?type=后端技术&page=1">后端技术</a></li>
       <li class="rnav3"><a href="/time?type=游戏开发&page=1">游戏开发</a></li>
       <li class="rnav4"><a href="/time?type=其他&page=1">其他</a></li>
     </ul>      
    </div>
    
<div class="news">
    <h3 class="ph">
      <p>点击<span>排行</span></p>
    </h3>
    <ul class="paih">
      {% for data in max_para %}
      <li><a href="/article?id={{data.Num}}" title="{{data.title}}">{{data.title}}</a></li>
      {% endfor %}
      
    </ul>
     <h3>
      <p>最新<span>文章</span></p>
    </h3>
    <ul class="rank">
      {% for data in new_para %}
      <li><a href="/article?id={{data.Num}}" title="{{data.title}}">{{data.title}}</a></li>
      {% endfor %}
    </ul>   
    </div>
</aside>
</article>
<footer>
 <p><span>The backend designer is：<a href="www.duanliang920.com" target="_blank">晓东</a></span><span></span><span><a href="/"></a></span></p>
</footer>
<script src="/static/js/nav.js"></script>
  <!-- Baidu Button BEGIN -->
   
    <script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6574585" ></script> 
    <script type="text/javascript" id="bdshell_js"></script> 
    <script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000)
</script> 
    <!-- Baidu Button END -->   
</body>
</html>
